@if (!$isLoading()) {
  <ListView [items]="$articles()" class="list-group">
    <ng-template let-article="item">
        <cdt-article-list-item
          data-testid="article-list"
          (navigateToArticle)="navigateToArticle($event)"
          (unFavorite)="unFavorite($event)"
          (favorite)="favorite($event)"
          [article]="article"
        >
        </cdt-article-list-item>
    </ng-template>
  </ListView>
} @else {
  <ActivityIndicator busy="true" class="m-4"></ActivityIndicator>
}
