@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==========================================================================
   Base Styles
   ========================================================================== */

@layer base {
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  img {
    vertical-align: middle;
  }
}
