<nav class="relative py-2 px-4 bg-white">
  <div class="max-w-[1140px] mx-auto px-4 flex items-center justify-between">
    <a class="font-['Titillium_Web'] text-2xl py-1 text-[#5CB85C] no-underline" routerLink="/">conduit</a>

    @if (!isLoggedIn()) {
      <ul class="list-none p-0 m-0 flex items-center ml-auto">
        <li class="ml-4">
          <a class="block py-2 text-black/30 hover:text-black/60 hover:no-underline" routerLink="/">Home</a>
        </li>
        <li class="ml-4">
          <a class="block py-2 text-black/30 hover:text-black/60 hover:no-underline [&.active]:text-black/80" routerLink="/login" routerLinkActive="active">Sign in</a>
        </li>
        <li class="ml-4">
          <a class="block py-2 text-black/30 hover:text-black/60 hover:no-underline [&.active]:text-black/80" routerLink="/register" routerLinkActive="active">Sign up</a>
        </li>
      </ul>
    } @else {
      <ul class="list-none p-0 m-0 flex items-center ml-auto">
        <li class="ml-4">
          <a
            class="block py-2 text-black/30 hover:text-black/60 hover:no-underline [&.active]:text-black/80"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="ml-4">
          <a class="block py-2 text-black/30 hover:text-black/60 hover:no-underline [&.active]:text-black/80" routerLink="/editor" routerLinkActive="active">
            <i class="ion-compose"></i>&nbsp;New Post
          </a>
        </li>
        <li class="ml-4">
          <a class="block py-2 text-black/30 hover:text-black/60 hover:no-underline [&.active]:text-black/80" routerLink="/settings" routerLinkActive="active">
            <i class="ion-gear-a"></i>&nbsp;Settings
          </a>
        </li>
        <li class="ml-4">
          <a
            data-testid="loggedin-user"
            class="block py-2 text-black/30 hover:text-black/60 hover:no-underline [&.active]:text-black/80"
            [routerLink]="['/profile', user().username]"
            routerLinkActive="active"
          >
            {{ user().username }}
          </a>
        </li>
      </ul>
    }
  </div>
</nav>
